*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;}

    body{
        width: 100vw;
    }


    table, th , td{
        border: rgba(90, 90, 90, 0.5) 1px solid;
        border-collapse:collapse;
    }

    table{
        width: 100%;
        height: 100%;
    }
    thead{
        width: 100%;
    }
   
    tbody{
        width: 100%;
        
    }

    td{
        height: 10vh;
        width: 12vh;
    }


    img{
        width: 100%;
        height: 100%;
        border: black 0.5px solid;
    }
    .par{
        background-color: #ca2b2b57;
    }
    .impar{
        background-color: rgb(250, 250, 250);
    }

    
@media (max-width: 768px){
    td, th{
        font-size: 2vw;
    }
    }


@media (max-width: 460px){
    tbody tr{
        height: 5vh;
    }
    
    tbody tr td{
        height: 5vh;
        width: 8vw;
    }
    td, th{
        font-size: 2vw;
    }
        }