<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/R2.css">
    <title>Solicitud R2</title>
</head>

<body>
    <h1>
        Información de usuarios
    </h1>
    <table>
        <tr>
            <th>Nombre </th>
            <th>Apellido </th>
            <th>Teléfono </th>
            <th>Edad</th>
            <th>Fecha nacimiento</th>
            <th>Provincia</th>
        </tr>
        <tr class="fila-impar">
            <td>Joaquin</td>
            <td>Fuentes</td>
            <td>3816097754</td>
            <td>27</td>
            <td>13/01/94</td>
            <td>Tucumán</td>
        </tr>
        <tr class="fila-par">
            <td>Juan</td>
            <td>Pérez</td>
            <td>3816767674</td>
            <td>26</td>
            <td>15/04/95</td>
            <td>Tucumán</td>
        </tr>
        <tr class="fila-impar">
            <td>Maria</td>
            <td>Rodriguez</td>
            <td>381767483</td>
            <td>26</td>
            <td>22/09/95</td>
            <td>Tucumán</td>
        </tr>
        <tr class="fila-par">
            <td>Matias</td>
            <td>Mendoza</td>
            <td>3814392928</td>
            <td>27</td>
            <td>13/02/94</td>
            <td>Córdoba</td>
        </tr>
        <tr class="fila-impar">
            <td>Pablo</td>
            <td>Pérez</td>
            <td>3813782628</td>
            <td>26</td>
            <td>13/02/95</td>
            <td>Salta</td>
        </tr>
        <tr class="fila-par">
            <td>Javier</td>
            <td>Ruiz</td>
            <td>3810923928</td>
            <td>27</td>
            <td>13/02/94</td>
            <td>Tucumán</td>
        </tr>

    </table>
</body>

</html>