<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/R3.css">
    <link rel="icon" href="../img/png.claro.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Claro</title>
</head>
<body>
    <!-- armo la ventana modal -->
    <div class="modal">
        <div class="modal-contenedor">
            <header> 
                <button class="close">Cerrar</button>
            </header>
            <div class="video-modal">
                <video src="../videos/WhatsApp Video 2021-05-20 at 11.19.11.mp4" controls autoplay muted></video>
            </div>
        </div>
    </div>
    <!-- la ventana que veré en cuanto cargue la página -->
   <header>
        <h1 class="animado">
        CLARO INTERNET
        </h1>
   </header>
    <article class="animado">
        <div class="img-video">
            <img src="../img/claro-imagen.png" alt="">
            <div class="open">
                <i class="fas fa-play"></i>
            </div>
        </div>
        <div class="info-video">
            <div class="contenedor-info-video">
                <h2>CAMBIATE A CLARO Y ESCOGE EL PLAN DE INTERNET QUE MAS TE CONVENGA!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Eveniet expedita repellendus natus possimus vero harum tempora consequuntur 
                     voluptate officia dolor impedit aspernatur autem optio libero consequatur temporibus, 
                     non, itaque illo!</p>
            </div>
        </div>
    </article>
 
    <script src="../js/R3.js"></script>
    <script src="../js/animacionR3.js"></script>
</body>
</html>