<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/R3.css">
    <link rel="icon" href="../img/png.claro.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Claro</title>
</head>
<body>
    <div class="modal">
        <div class="modal-contenedor">
            <header> 
                <button class="close">Cerrar</button>
            </header>
            <div class="video-modal">
                <video src="../videos/WhatsApp Video 2021-05-20 at 11.19.11.mp4" controls autoplay muted></video>
            </div>
        </div>
    </div>
    <article>
        <div class="img-video">
            <img src="../img/claro-imagen.png" alt="">
            <div class="open">
                <i class="fas fa-play"></i>
            </div>
        </div>
        <div class="info-video">
            <div class="contenedor-info-video">
                <h1>CAMBIATE A CLARO Y ESCOGE EL PLAN DE INTERNET QUE MAS TE CONVENGA!</h1>
                <p>Elegí tu plan con abono o factura mensual y disfrutá de roaming incluido, datos de internet, 
                    WhatsApp gratis, llamadas y SMS ilimitados o elegí tu plan prepago pagando sólo lo que usás. 
                    Recargá y recibí packs de datos extra de megas o gigas de regalo como crédito de tus recargas.</p>
            </div>
        </div>
    </article>
    <script src="../js/R3.js"></script>
</body>
</html>