<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/R3.css">
    <title>Solicitud R3</title>
</head>
<body>
    <article>
        <div class="img-video">
            <video src="../videos/WhatsApp Video 2021-05-20 at 11.19.11.mp4"></video>
            <button class="open">Play</button>
            <div class="modal">
                <div class="modal-contenedor">
                    <header> 
                        <button class="close">Cerrar</button>
                    </header>
                    <div class="video-modal">
                        <video src="../videos/WhatsApp Video 2021-05-20 at 11.19.11.mp4" controls autoplay muted></video>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-video">
            <div class="contenedor-info-video">
                <h1>Give the world the answer they need, become a Supernatural Partner today</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias pariatur obcaecati
                 quibusdam eum nesciunt amet mollitia, iste qui soluta neque ipsam, odio veritatis animi maiores 
                 voluptatum quam sapiente sint.</p>
            </div>
        </div>
        </div>
    </article>
    <script src="../js/R3.js"></script>
</body>
</html>