<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\R4.css">
    <title>Solicitud R4</title>
</head>
<body>
   <header>
       <h1>
        Informacion de Países
        </h1>
   </header>
    <!-- estos datos se cargarán desde una api -->
    <table>

    </table>

    <script src="js\R4.js"></script> 
</body>
</html>