<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/R4.css">
    <title>Solicitud R4</title>
</head>
<body>

    <table>
        <thead>
           <tr>
               <th>País </th>
               <th>Capital </th>
               <th>Habitantes </th>
               <th>Región</th>
               <th>Superficie</th>
               <th>Bandera</th>
           </tr>
        </thead>
        <tbody>
            
          
        </tbody>
       
       

    </table>


    <script src="js/R4.js"></script>
</body>
</html>